<% valueModelsToShow.forEach(function (model) { %>
    <div class="multicheckbox <% if (model.get('isSelected')) {print('checked');} %>">
        <span class="icon-checkbox<% if (!model.get('isSelected')) {print('2');} %>"></span>
        <% if (model.get('iconPath')) { %>
            <span>
            <% if (model.get('iconPath').startsWith('<svg ')) { %>
                <span class="multicheckbox-svg"><%= model.get('iconPath') %></span>
            <%  } else { %>
                <img class="multicheckbox-icon" src="<%= model.get('iconPath') %>">
            <% } %>
            </span>
        <%  } %>
        <span class="multicheckbox-label"><%= model.get("displayName") %></span>
    </div>
<% }); %>