<!DOCTYPE html>
<div class="layer-info-item pull-right">
    <% if (typeof datasets !== "undefined" && datasets !== false) { %>
        <span class="glyphicon glyphicon-info-sign"></span>
    <% } %>
</div>
<div class="layer-item pull-left">
    <% if (isSelected === true) { %>
        <span class="glyphicon glyphicon-check"></span>
    <% } else { %>
        <span class="glyphicon glyphicon-unchecked"></span>
    <% } %>
    <span class="title"><%= name %></span>
</div>
