<!DOCTYPE html>
<div class= "text-align-center ladesaeulenHeader">
    <% Object.entries(headTitleObject).forEach(function (obj) {
        const value = obj[1],
            key = obj[0];
    %>
        <strong><%=key%>: <%=value%></strong>
        <br>
    <% }); %>
</div>
<ul class="nav nav-pills" >
    <li value= "daten" class="tab-toggle active"><a data-toggle="tab" href="#tabelle">Daten</a></li>
    <li value= "diagrammVerfuegbar" class="tab-toggle"><a data-toggle="tab" href="#diagrammVerfuegbar">Verfügbarkeit</a></li>
    <li value= "diagrammBelegt" class="tab-toggle"><a data-toggle="tab" href="#diagrammBelegt">Auslastung</a></li>
    <li value= "diagrammAusserBetrieb" class="tab-toggle"><a data-toggle="tab" href="#diagrammAusserBetrieb">Außer Betrieb</a></li>
</ul>
<div class="buttonDiv text-center" hidden="hidden">
    <button id= "left" type="button" class="leftButton kat btn" title="Vorheriger Wochentag"><span class="glyphicon glyphicon-chevron-left"></span></button>
    <span class="day"></span>
    <button id= "right"type="button" class="rightButton kat btn" title="Nächster Wochentag"><span class="glyphicon glyphicon-chevron-right"></span></button>
</div>
<div class="tab-content">
<div id= "daten" class="tab-pane fade in active">
    <table class="table">
         <thead>
            <tr class="row">
                <th>Eigenschaften</th>
                <% tableheadArray.forEach(function(element) { %>
                    <th><%=element%></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% Object.entries(gfiProperties).forEach(function (property) { 
                const value = property[1],
                    key = property[0];
            %>
                <tr class="row">
                    <th><%=key%></th>
                    <% value.forEach(function(val) { %>
                        <td><%=val%></td>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>
<div id= "diagrammVerfuegbar" class="tabVerfuegbar-pane fade text-center">
    <div id="d3-div" class="ladesaeulenVerfuegbar-graph"></div>
</div>
<div id= "diagrammBelegt" class="tabBesetzt-pane fade text-center">
    <div id="d3-div" class="ladesaeulenBelegt-graph"></div>
</div>
<div id= "diagrammAusserBetrieb" class="tabBesetzt-pane fade text-center">
    <div id="d3-div" class="ladesaeulenAusserBetrieb-graph"></div>
</div>
