div#messages {
  max-width: 100%;
  z-index: 2001;
  position: absolute;
  transform: translate(-50%, -50%);
}
div#messages .alert {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
div#messages.top-center {
  top: 25%;
  left: 50%;
}
div#messages.center-center {
  top: 50%;
  left: 50%;
}
div#messages.bottom-center {
  top: 75%;
  left: 50%;
}
.alert-confirm {
  margin-top: 10px;
  width: 100%;
}
.close {
  outline: none;
}

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/
.attributions-button[data-v-10341251] {
  position: relative;
}
.attributions-button .glyphicon[data-v-10341251] {
  font-size: 22px;
}
.attributions-button .glyphicon-forward[data-v-10341251] {
  padding: 6px 4px 6px 8px;
}
.attributions-button .glyphicon-info-sign[data-v-10341251] {
  padding: 6px;
}
.attributions-button .attributions-div[data-v-10341251] {
  position: absolute;
  padding: 5px;
  background-color: #f3f3f3;
  margin-right: 40px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  border: 1px solid #e5e5e5;
  top: 0;
  right: 0;
}
.attributions-button .attributions-div dt[data-v-10341251] {
  color: #E10019;
  font-size: 15px;
  font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
}
.attributions-button .attributions-div dl[data-v-10341251] {
  margin-bottom: 0;
}
.attributions-button .attributions-div dd[data-v-10341251] {
  margin-bottom: 8px;
}
.attributions-button .attributions-div .glyphicon[data-v-10341251] {
  font-size: 22px;
  top: 0;
}
.attributions-button .attributions-div .glyphicon-info-sign[data-v-10341251] {
  padding: 6px;
}
.attributions-button .attributions-div .glyphicon-forward[data-v-10341251] {
  padding: 6px 4px 6px 8px;
}
.attributions-button .attributions-div img[data-v-10341251] {
  max-height: 2em;
}

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/
.back-forward-buttons .forward[data-v-697f7090] {
  display: block;
}
.back-forward-buttons .glyphicon[data-v-697f7090] {
  cursor: pointer;
  font-size: 22px;
  padding: 5px 7px 6px 7px;
  margin-top: 4px;
}
.back-forward-buttons .inactive[data-v-697f7090] {
  pointer-events: none;
  background-color: grey;
}

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/
.control-box .glyphicon {
  color: #f3f3f3;
  background-color: #E10019;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.control-box .glyphicon:hover {
  cursor: pointer;
  opacity: 0.7;
}
.hidden {
  display: none;
}

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/
.control-box[data-v-6cfd4319] {
  right: 0px;
  padding: 5px;
  margin: 5px;
  z-index: 1;
}
.control-box .spaced[data-v-6cfd4319] {
  margin-bottom: 1em;
}

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/
.zoom-buttons .glyphicon[data-v-049d1844] {
  font-size: 22px;
  margin-top: 4px;
}
.zoom-buttons .glyphicon-plus[data-v-049d1844] {
  display: block;
  padding: 5px 5px 6px 7px;
}
.zoom-buttons .glyphicon-minus[data-v-049d1844] {
  padding: 5px 7px 6px 5px;
}
.zoom-buttons .inactive[data-v-049d1844] {
  pointer-events: none;
  background-color: grey;
}

#language-bar {
  position: absolute;
  right: 10px;
  width: 25px;
  min-height: 22px;
  bottom: 0;
  padding-bottom: 2px;
  z-index: 2000;
}
#language-bar .current-language {
  width: 25px;
  height: 22px;
  cursor: pointer;
  display: block;
  text-align: center;
  padding-top: 5px;
  /* font-size: 12px; */
  text-transform: uppercase;
  color: #23527c;
  font-weight: 900;
}
#language-bar .popup-language {
  display: block;
  position: absolute;
  right: 10px;
  min-width: 400px;
  background: #ffffff;
  padding: 10px 0 20px;
  z-index: 10010;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  bottom: 50px;
}
#language-bar .popup-language .language-header {
  display: block;
  float: right;
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  padding: 0px 0px 3px 10px;
}
#language-bar .popup-language .language-header span {
  width: 30px;
  cursor: pointer;
}
#language-bar .popup-language .form-group {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 20px 0 0;
}
#language-bar .popup-language .form-group a {
  font-size: 12px;
}
#language-bar .popup-language .form-group a:hover {
  background-color: #08589e;
  color: #ffffff;
}
#language-bar .popup-language .form-group a.disabled {
  background-color: #e7e7e7;
}
@media (max-width: 767px) {
#language-bar {
    width: 100%;
}
#language-bar .current-language {
    float: right;
    text-align: right;
}
#language-bar .popup-language {
    width: calc(100% - 20px);
    min-width: inherit;
    right: 0;
}
}

div#scale-line {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
  bottom: 0;
  color: #777;
  position: absolute;
  text-align: center;
  font-size: 10px;
  padding: 4px 40px;
  right: 0px;
  z-index: 1;
}
div#scale-line > span:first-child {
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  display: inline-block;
  width: 2cm;
}
div#scale-line > span:last-child {
  padding: 0 16px;
}
@media (max-width: 767px) {
.scale-line {
    display: none;
}
}
@media (min-width: 768px) {
.scale-line {
    display: block;
}
}

.tool-window-vue[data-v-53d69762] {
  background-color: #ffffff;
  margin: 10px 10px 30px 10px;
  display: block;
  position: absolute !important;
  top: 60px;
  left: 0;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
  z-index: 999;
  max-width: 500px;
}
.tool-window-vue > .header[data-v-53d69762] {
  padding-left: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
}
.tool-window-vue > .header > .move[data-v-53d69762] {
  cursor: move;
}
.tool-window-vue > .header > .title[data-v-53d69762] {
  white-space: nowrap;
  min-width: 250px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 5px;
  color: #555555;
  width: calc(100% - 50px);
  margin: 0;
  height: 34px;
}
.tool-window-vue > .header > .buttons[data-v-53d69762] {
  color: #555555;
  font-size: 14px;
  margin: 0;
}
.tool-window-vue > .header > .buttons > .glyphicon-minus[data-v-53d69762] {
  top: 3px;
}
.tool-window-vue > .header > .buttons > span[data-v-53d69762] {
  padding: 8px 8px 8px 0px;
}
.tool-window-vue > .header > .buttons > span[data-v-53d69762]:hover:not(.win-icon) {
  opacity: 0.7;
  cursor: pointer;
}
.tool-window-vue > .header-min[data-v-53d69762] {
  background-color: #e10019;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.tool-window-vue > .header-min > .move[data-v-53d69762] {
  cursor: pointer;
}
.tool-window-vue > .header-min > .title[data-v-53d69762] {
  color: #ffffff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
  min-width: 0;
}
.tool-window-vue > .header-min > .buttons[data-v-53d69762] {
  color: #ffffff;
}
.win-body-vue[data-v-53d69762] {
  padding: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #ffffff;
  max-height: 72vh;
}
.table-tool-win-all[data-v-53d69762] {
  font-family: "MasterPortalFont", sans-serif;
  border-radius: 12px;
  background-color: #646262;
  margin-bottom: 30px;
}
.table-tool-win-all .header[data-v-53d69762] {
  font-family: "MasterPortalFont", sans-serif;
}
.table-tool-win-all .header > .title[data-v-53d69762] {
  color: #ffffff;
}
.table-tool-win-all .header > .buttons[data-v-53d69762] {
  color: #ffffff;
}
.table-tool-win-all .win-body-vue[data-v-53d69762] {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #f2f2f2;
}
.table-tool-win-all .win-body-vue *[data-v-53d69762] {
  border-radius: 12px;
}
.table-tool-window[data-v-53d69762] {
  transform: rotate(0deg);
}
.table-tool-window-90deg[data-v-53d69762] {
  left: 20px;
  transform: rotate(90deg);
}
.table-tool-window-180deg[data-v-53d69762] {
  top: 20px;
  left: 20px;
  margin-bottom: 30px;
  transform: rotate(180deg);
}
.table-tool-window-270deg[data-v-53d69762] {
  top: 40px;
  margin-bottom: 30px;
  transform: rotate(270deg);
}
.sidebar-vue[data-v-53d69762] {
  height: calc(100% - 50px);
  float: left;
  overflow: auto;
  display: block;
  position: absolute;
  top: 50px;
  right: 0;
  width: 30%;
  background-color: #ffffff;
}
.sidebar-vue > .header[data-v-53d69762] {
  padding-left: 10px;
  border-bottom: 1px solid #e5e5e5;
  font-family: "MasterPortalFont Bold", "Arial Narrow", Arial, sans-serif;
}
.sidebar-vue > .header > .move[data-v-53d69762] {
  cursor: move;
}
.sidebar-vue > .header > .title[data-v-53d69762] {
  white-space: nowrap;
  min-width: 250px;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 5px;
  color: #555555;
  width: calc(100% - 50px);
  margin: 0;
  height: 34px;
}
.sidebar-vue > .header > .buttons[data-v-53d69762] {
  color: #555555;
  font-size: 14px;
  margin: 0;
}
.sidebar-vue > .header > .buttons > .glyphicon-minus[data-v-53d69762] {
  top: 3px;
}
.sidebar-vue > .header > .buttons > span[data-v-53d69762] {
  padding: 8px 8px 8px 0px;
}
.sidebar-vue > .header > .buttons > span[data-v-53d69762]:hover:not(.win-icon) {
  opacity: 0.7;
  cursor: pointer;
}
@media (max-width: 767px) {
.tool-window[data-v-53d69762] {
    right: 0;
}
.sidebar-vue[data-v-53d69762] {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1050;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 3%;
}
}

.portal-title[data-v-bd349320] {
  margin-left: 10px;
  overflow: hidden;
  line-height: 50px;
  float: left;
}
.portal-title a[data-v-bd349320] {
  text-decoration: none;
  display: block;
}
.portal-title a img[data-v-bd349320] {
  margin: 0 5px 0 5px;
  max-height: 40px;
  display: inline-block;
  vertical-align: middle;
}
.portal-title a span[data-v-bd349320] {
  color: #333333;
  margin-left: 5px;
  font-size: 26px;
  font-family: 'MasterPortalFont', 'Arial Narrow', Arial, sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/
.open-tool {
  font-weight: bold;
  background: blue;
  color: white;
}
.tool-box .glyphicon {
  color: #f3f3f3;
  background-color: #E10019;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
}
.tool-box .glyphicon:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* TODO
    - should there be a global theme? or are such variable collections per-section?
    - could one implement a theme override for specific portals without changing source?
*/
.tool-box[data-v-49ea1f7b] {
  left: 0px;
  padding: 5px;
  margin: 5px;
  z-index: 1;
}
.tool-box .spaced[data-v-49ea1f7b] {
  margin-bottom: 1em;
}

