<!DOCTYPE html>
<h3 class="pull-left" title="<%= title %>"><%= title %></h3>
<button class="btn btn-default btn-sm pull-right" title="Exposé">
    <span>Exposé</span>
</button>
<table class="table table-hover">
    <tbody>
    <%  Object.entries(gfiContent).forEach(function(content) {
        const value = content[1],
            key = content[0];
    %>
    <tr>
        <td>
            <%= key %>
        </td>
        <td>
            <%= value %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>
