<!DOCTYPE html>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header legendModal">
            <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span aria-hidden="true" class="glyphicon glyphicon-remove"></span></button>
            <% if (showCollapseAllButton === true) { %>
            <button type="button" class="close"><span id="collapseAll-btn" class="glyphicon glyphicon-arrow-down fold-in" title="<%= collapseAllText %>"></span></button>
            <% } %>
            <h4 class="modal-title"><span class="glyphicon glyphicon-book"></span><span><%= legendTitle %></span></h4>
        </div>
        <div id="legendbody" class="modal-body">
            <div class="panel-group" role="tablist" aria-multiselectable="true">
            <%
            legendParams.forEach(function(element, index) {
            %>
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="überschriftEins<%=index%>" data-toggle="collapse" href="#collapseEins<%=index%>" aria-expanded="true" aria-controls"collapseEins<%=index%>">
                        <h4 class="panel-title modal-legend-title">
                            <%= element.layername %>
                        </h4>
                    </div>
                    <% element.legend && element.legend.forEach(function (layerdefinition) { %>
                    <div id="collapseEins<%=index%>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="überschriftEins<%=index%>">
                        <div class="panel-body panel-legend">
                            <%= layerdefinition.html %>
                        </div>
                    </div>
                    <% }); %>
                </div>
            <%
                });
            %>
            </div>
        </div>
    </div>
</div>
