<!DOCTYPE html>
<div class="table-gfi-headwrapperdiv">
    <table class="table table-striped table-condensed table-gfi table-gfi-headversion">
        <thead>
            <tr>
                <% colNames.forEach(function (name) { %>
                    <th><%= name %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% gfiContent.forEach(function (obj) { %>
                <tr>
                    <% Object.values(obj).forEach(function (value) { %>
                        <% if (value !== "") { %>
                            <td>
                                <% if (new RegExp(/(\.pdf)$/i).test(value) === true && value.substr(0, 4) === "http") { %>
                                    <!-- Hack für Flüchtlingsportal -->
                                    <% value.split("$").forEach(function (val, index) { %>
                                        <a href="<%= val %>" target="_blank">Anhang <%= index + 1 %></a><br>
                                    <% }); %>
                                <% } else if (new RegExp(/(\.html)$/i).test(value) === true || value.substr(0, 4) === "http") { %>
                                    <a href="<%= value %>" target="_blank">Link</a>
                                <% } else if (value.substr(0, 4) === "040 " || value.substr(0, 4) === "040-" || value.substr(0, 3) === "+49" ||
                                        value.substr(0, 5) === "0800 " || value.substr(0, 5) === "0800-") { %>
                                    <a href="tel:<%= value.replace(" ", "").replace("-", "")%>"><%= value %></a>
                                <% } else { %>
                                    <%= value %>
                                <% } %>
                            </td>
                        <% } else { %>
                            <td>---</td>
                        <% } %>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>
</div>

<div class="table-gfi-bodywrapperdiv">
    <table class="table table-striped table-condensed table-gfi table-gfi-bodyversion">
        <thead>
            <tr>
                <% colNames.forEach(function (name) { %>
                    <th><%= name %></th>
                <% }); %>
            </tr>
        </thead>
        <tbody>
            <% gfiContent.forEach(function (obj) { %>
                <tr>
                    <% Object.values(obj).forEach(function (value) { %>
                        <% if (value !== "") { %>
                            <td>
                                <% if (new RegExp(/(\.pdf)$/i).test(value) === true && value.substr(0, 4) === "http") { %>
                                    <!-- Hack für Flüchtlingsportal -->
                                    <% value.split("$").forEach(function (val, index) { %>
                                        <a href="<%= val %>" target="_blank">Anhang <%= index + 1 %></a><br>
                                    <% }); %>
                                <% } else if (new RegExp(/(\.html)$/i).test(value) === true || value.substr(0, 4) === "http") { %>
                                    <a href="<%= value %>" target="_blank">Link</a>
                                <% } else if (value.substr(0, 4) === "040 " || value.substr(0, 4) === "040-" || value.substr(0, 3) === "+49" ||
                                        value.substr(0, 5) === "0800 " || value.substr(0, 5) === "0800-") { %>
                                    <a href="tel:<%= value.replace(" ", "").replace("-", "")%>"><%= value %></a>
                                <% } else { %>
                                    <%= value %>
                                <% } %>
                            </td>
                        <% } else { %>
                            <td>---</td>
                        <% } %>
                    <% }); %>
                </tr>
            <% }); %>
        </tbody>
    </table>

</div>
