<!DOCTYPE html>
<div class="form-group">
    <select id="select-kreis" class="form-control">
        <option disabled selected hidden><%=chooseDistrict%></option>
        <% kreise.forEach(function (element) { %>
            <% if (element === kreis) { %>
                <option selected><%= element %></option>
            <% }
            else { %>
        <option><%= element %></option>
        <% } %>
        <% }); %>
    </select>
</div>
<% if (kreis !== "") { %>
<div class="form-group">
    <select id="select-gemeinde" class="form-control">
        <option disabled selected hidden><%=chooseBorough%></option>
        <% gemeinden.forEach(function (element) { %>
            <% if (typeof gemeinde !== "undefined" && element === gemeinde) { %>
                <option selected><%= element %></option>
            <% }
            else { %>
        <option><%= element %></option>
        <% } %>
        <% }); %>
    </select>
</div>
<% } %>
<% if (typeof gemeinde !== "undefined") { %>
<div class="form-group">
    <select id="select-trefferAnzahl" class="form-control">
        <option disabled selected hidden><%=relationshipsToDisplay%></option>
        <option value="top5"
            <%= (typeof trefferAnzahl !== "undefined" && trefferAnzahl === "top5") ? "selected" : "" %>><%=top5%></option>
        <option value="top10"
            <%= (typeof trefferAnzahl !== "undefined" && trefferAnzahl === "top10") ? "selected" : "" %>><%=top10%></option>
        <option value="top15"
            <%= (typeof trefferAnzahl !== "undefined" && trefferAnzahl === "top15") ? "selected" : "" %>><%=top15%></option>
        <!-- <option value="alle" <%= (typeof trefferAnzahl !== "undefined" && trefferAnzahl === "alle") ? "selected" : "" %> >Alle</option> -->
    </select>
</div>
<% } %>
<% if (typeof trefferAnzahl !== "undefined") { %>
<div class="radio">
    <label class=" radio-inline">
        <input type="radio" name="direction" value="wohnort" <% if (typeof direction !== "undefined" && direction === "wohnort") { print ("checked")} %>>
        <%=domicile%>
    </label>
    <label class=" radio-inline">
        <input type="radio" name="direction" value="arbeitsort" <% if (typeof direction !== "undefined" && direction === "arbeitsort") { print ("checked")} %>>
        <%=workplace%>
    </label>
</div>
<% } %>
<% if (typeof direction !== "undefined") { %>
    <% if (pendlerLegend.length > 0) { %>
        <table class="table">
            <% pendlerLegend.forEach(function(gemeinde){ %>
            <tr>
                <td>
                    <span class="form-group pull-left animation_legend" style="background-color:<%= gemeinde.color %>"></span>
                </td>
                <td>
                    <%= gemeinde.name %>: <%= gemeinde.anzahlPendler %> <%=people%>
                </td>
            </tr>
            <% }); %>
        </table>
        <hr>
        <div class="form-group">
            <button class="btn btn-default csv-download">
                <span class="glyphicon glyphicon-download"></span>&nbsp;<%=csvDownload%>
            </button>
            <% if (animating === true) { %>
                <button class="btn btn-default pull-right reset">
                    <span class="glyphicon glyphicon-stop"></span>&nbsp;<%=reset%>
                </button>
            <% }
            else { %>
                <button class="btn btn-default pull-right start">
                    <span class="glyphicon glyphicon-play"></span>&nbsp;<%=start%>
                </button>
            <% } %>
        </div>
        <div class="form-group">
            <button class="btn btn-default btn-remove-features">
                <span class="glyphicon glyphicon-trash"></span>&nbsp;<%=deleteGeometries%>
            </button>
        </div>
    <% }
    else if (emptyResult) { %>
        <p class="keinePendlerBewegungen"><%=noCommutersKnown%></p>
    <% } %>
<% } %>
