<!DOCTYPE html>
<tbody>
<%  Object.entries(gfiContent[0]).forEach(function(content) {
        const value = content[1],
        key = content[0];
%>
<tr colspan="2">
    <td style="font-family: 'MasterPortalFont Bold','Arial Narrow',Arial,sans-serif;">
        <%= key %>
    </td>
    <td>
        <%= value %>
    </td>
</tr>
<% }); %>
</tbody>
