<!DOCTYPE html>
<div class= "panel text-align-center bikeLevelHeader">
    <strong><%= gfiContent[0].Name %></strong>
    <br>
    <small>Art: <%= gfiContent[0].Typ%></small>
</div>
<ul class="nav nav-pills">
    <li value= "info" class="tab-toggle active"><a data-toggle="tab" href="#gfiList">Info</a></li>
    <% if (Object.keys(dayDataset).length !== 0) { %>
    <li value= "day" class="tab-toggle"><a data-toggle="tab" href="#chart">letzter Tag</a></li>
  <% } %>
  <% if (Object.keys(lastSevenDaysDataset).length !== 0) { %>
    <li value= "lastSevenDays" class="tab-toggle"><a data-toggle="tab" href="#chart">letzte 7 Tage</a></li>
  <% } %>
  <% if (Object.keys(yearDataset).length !== 0) { %>
    <li value= "year" class="tab-toggle"><a data-toggle="tab" href="#chart">Jahr</a></li>
  <% } %>
</ul>
<div class="tab-content">
    <div id="gfiList" class="tab-pane continuousCountingBike fade in active">
        <div class="imageContinuousCountingBikeDiv">
        </div>
        <table class="table table-striped">
            <tbody>
                <tr colspan="3">
                    <td style="font-family: 'MasterPortalFont Bold','Arial Narrow',Arial,sans-serif;">
                    </td>
                    <td>
                        Zeitraum
                    </td>
                    <td>
                        Fahrräder
                    </td>
                </tr>
            <%  infoGFIContent.forEach(function(value, index) {%>
                <tr colspan="3">
                    <td style="font-family: 'MasterPortalFont Bold','Arial Narrow',Arial,sans-serif;">
                        <%= value.attrName + ""%>
                    </td>
                <% if(Array.isArray(value.attrValue)) { %>
                    <td class = "infoGFIContent">
                        <%= value.attrValue[0] %>
                    </td>

                    <td class = "infoGFIContent">
                        <%= value.attrValue[1] %>
                    </td>
                <% }
                else { %>
                    <td class = "infoGFIContent">
                        <%= value.attrValue%>
                    </td>
                    <td>
                    </td>
                <% } %>
                </tr>
            <% }); %>
            </tbody>
        </table>
    </div>
    <div class="continuousCountingBike tab-pane form-check fade">
        <input type="checkbox" class="chartCheckbox form-check-input" id="chartCheck" checked>
        <label class="form-check-label" for="chartCheck">Diagramm</label>
    </div>
    <div id="chart" class="tab-pane continuousCountingBike fade">
        <div id="d3-div" class="graph">
            <div class="graph-tooltip-div"></div>
        </div>
    </div>
    <div class="continuousCountingBike tab-pane form-check fade">
        <input type="checkbox" class="tableCheckbox form-check-input" id="tableCheck" checked>
        <label class="form-check-label" for="tableCheck">Tabelle</label>
    </div>
    <div id="tableday" class="tab-pane continuousCountingBike table fade">
        <table class="table table-striped text-align-center">
            <thead>
                <th class="text-align-center">Name</th>
                <% if (Object.keys(dayDataset).length !== 0) {
                    dayDataset.data.forEach(function (day){%>
                <th class="text-align-center"><%=day.timestamp%></th>
                <% });%>
            </thead>
            <tbody>

                <tr>
                    <td class="kategory"><%=gfiContent[0].Name%></td>
                <% dayDataset.data.forEach(function (day){%>
                    <td class="data"><%=day.tableData%></td>
                <% });
                }%>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="tablelastSevenDays" class="tab-pane continuousCountingBike table fade">
        <table class="table table-striped text-align-center">
            <thead>
                <th class="text-align-center">Name</th>
                <% if (Object.keys(lastSevenDaysDataset).length !== 0) {
                lastSevenDaysDataset.data.forEach(function (lastSevenDays){ %>
                <th class="text-align-center"><%=lastSevenDays.timestamp%></th>
                <% });%>
            </thead>
            <tbody>

                <tr>
                    <td class="kategory"><%=gfiContent[0].Name%></td>
                <% lastSevenDaysDataset.data.forEach(function (lastSevenDays) {%>
                    <td class="data"><%=lastSevenDays.tableData%></td>
                <% });
                }%>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="tableyear" class="tab-pane continuousCountingBike table fade">
        <table class="table table-striped text-align-center">
            <thead>
                <th class="text-align-center">Name</th>
                <% if (Object.keys(yearDataset).length !== 0 && yearDataset.data !== undefined) {
                yearDataset.data.forEach(function (year) { %>
                <th class="text-align-center"><%=year.timestamp + " KW"%></th>
                <% });%>
            </thead>
            <tbody>

                    <tr>
                    <td class="kategory"><%=gfiContent[0].Name%></td>
                    <% yearDataset.data.forEach(function (year) { %>
                        <td class="data"><%=year.tableData%></td>
                    <% });
                } %>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="continuousCountingBike tab-pane downloadButton fade">
        <button class="btn btn-primary csv-download">
            <span class="glyphicon glyphicon-export"></span>Download
        </button>
    </div>
</div>
