<!DOCTYPE html>
<table class="table table-hover">
    <tbody>
    <%  Object.entries(gfiContent[0]).forEach(function(content) {
        const value = content[1],
            key = content[0];
    %>
    <tr>
        <td>
            <%= key %>
        </td>
        <td>
            <%= value %>
        </td>
    </tr>
    <% }); %>
    </tbody>
</table>
<button class="btn btn-primary btn-sm pull-right" title="Bericht erzeugen">
    <span>Bericht erzeugen</span>
</button>
