<!DOCTYPE html>
<div class= "panel text-align-center pegelHeader">
    <strong><%=zaehlstelle%>: <%=bezeichnung%></strong>
    <a href="<%=link%>" target="_blank" title="Link zum Download der Daten">
        <span class="glyphicon glyphicon-save download"></span>
    </a>
    <br>
    <small>Art: <%=art%></small>
</div>
<ul class="nav nav-pills">
  <li value= "tabelle" class="tab-toggle active"><a data-toggle="tab" href="#tabelle">Tabelle</a></li>
  <li value= "diagramm" class="tab-toggle"><a data-toggle="tab" href="#diagramm">Diagramm</a></li>
</ul>
<div class="tab-content">
    <div id="tabelle" class="tab-pane fade in active">
        <table class="table table-striped">
            <thead>
                <th>Kategorie</th>
                <% years.forEach(function (year){%>
                <th><%=year%></th>
                <%});%>
            </thead>
            <tbody>
                <% rowNames.forEach(function (name) { %>
                <tr>
                    <% if (name === "DTV") { %>
                        <td class="kategory">DTV (Kfz/24h)</td>
                    <% }
                    else if (name === "DTVw") { %>
                        <td class="kategory">DTVw (Kfz/24h)</td>
                    <% }
                    else if (name === "Schwerverkehrsanteil am DTVw") { %>
                        <td class="kategory">SV-Anteil am DTVw (%)</td>
                    <% }
                    else { %>
                        <td class="kategory">Baustelleneinfluss</td>
                    <% }
                    years.forEach(function(year) { %>
                        <td class="data">
                        <% if(dataset.find(function(data) {return data.year === year})[name] !== undefined) {
                        print(dataset.find(function(data) {return data.year === year})[name].toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
                        } %>
                        </td>
                    <% });%>
                </tr>
                <% });%>
            </tbody>
        </table>
    </div>
  <div id="diagramm" class="tab-pane fade">
    <div class="btn-group btn-group-sm" role="group">
        <button id= "DTV" value="DTV" type="button" class="btn btn-default kat active" title="Durchschnittliche tägliche Verkehrsstärken (Mo-So)">DTV</button>
        <button id= "DTVw" value="DTVw" type="button" class="btn btn-default kat" title="Durchschnittliche werktägliche Verkehrsstärken (Mo-Fr)">DTVw</button>
        <button id= "Schwerverkehrsanteil am DTVw" value="Schwerverkehrsanteil am DTVw" type="button" class="btn btn-default kat" title="Schwerverkehrsanteil am DTVw">SV-Anteil am DTVw</button>
    </div>
    <div id="d3-div" class="graph">
        <div class="graph-tooltip-div"></div>
    </div>
  </div>
</div>
