<!DOCTYPE html>
<ul class="nav nav-pills">
    <li value= "daten" class="tab-toggle active"><a data-toggle="tab" href="#daten">Daten</a></li>
    <li value= "info" class="tab-toggle"><a data-toggle="tab" href="#info">Info</a></li>
</ul>
<div class="tab-content">
    <div class="gfi-info tab-pane fade" id="info">
        <% if (themeCategory === "Bevölkerung") { %>
            <% if (themeUnit === "anzahl") { %>
                <br>
                <p><b>Anzahl der Kinder nach Altersgruppen</b></p>
                <p>Datenstand: 31.12.2017.</p>
                <br>
                <p><b>Keine oder zu geringe Fallzahlen:</b></p>
                <P>Die Anzahl der Kinder nach Altersgruppen wird aus datenschutzrechtlichen Gründen nur ausgewiesen, sofern in einem Gebiet mindestens drei Kinder der jeweiligen Altersgruppe wohnen. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</P>
                <br>
                <p><b>Gebietsveränderungen 2011:</b></p>
                <p>Am 1.1.2011 gab es in Hamburg eine Veränderung der Gebietszuschnitte bei den statistischen Gebieten und den Stadtteilen. Für die <b>Darstellung der Zeitreihe</b> im Datenblatt auf Ebene der statistischen Gebiete wurden die Daten aus den alten Gebietseinheiten den entsprechenden neuen Gebietseinheiten ab 2011 zugewiesen. Auf Ebene der Stadtteile wurden die Zahlen der 2011 zu Hamm zusammengelegten Stadtteile Hamm-Süd, Hamm-Mitte und Hamm-Nord auch in der Zeitreihe zu dem heutigen Gebiet von Hamm zusammengefasst. Die Neugründung von Neuallermöhe 2011 aus den Stadtteilen Allermöhe und Bergedorf führt in der Darstellung von Zeitreihen auf Stadtteilebene zu größeren Sprüngen in den betroffenen Gebieten.</P>
            <% } else if (themeUnit === "anteil") { %>
                <br>
                <p><b>Anteil der Kinder nach Altersgruppen</b></p>
                <p>Datenstand: 31.12.2017.</p>
                <br>
                <p><b>Keine oder zu geringe Fallzahlen:</b></p>
                <P>Die Anzahl der Kinder nach Altersgruppen wird aus datenschutzrechtlichen Gründen nur ausgewiesen, sofern in einem Gebiet mindestens drei Kinder der jeweiligen Altersgruppe wohnen. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</P>
                <br>
                <p><b>Gebietsveränderungen 2011:</b></p>
                <p>Am 1.1.2011 gab es in Hamburg eine Veränderung der Gebietszuschnitte bei den statistischen Gebieten und den Stadtteilen. Für die <b>Darstellung der Zeitreihe</b> im Datenblatt auf Ebene der statistischen Gebiete wurden die Daten aus den alten Gebietseinheiten den entsprechenden neuen Gebietseinheiten ab 2011 zugewiesen. Auf Ebene der Stadtteile wurden die Zahlen der 2011 zu Hamm zusammengelegten Stadtteile Hamm-Süd, Hamm-Mitte und Hamm-Nord auch in der Zeitreihe zu dem heutigen Gebiet von Hamm zusammengefasst. Die Neugründung von Neuallermöhe 2011 aus den Stadtteilen Allermöhe und Bergedorf führt in der Darstellung von Zeitreihen auf Stadtteilebene zu größeren Sprüngen in den betroffenen Gebieten.</P>
            <% } else if (themeUnit === "anteilWanderungen") { %>
                <br>
                <p><b>Wanderungssaldo von Familien</b></p>
                <p>Datenstand: 31.12.2017.</p>
                <br>
                <p><b>Relativer Wanderungssaldo:</b>  Da bei der Darstellung des absoluten Wanderungssaldos einwohnerstarke Stadtteile in der Rangfolge immer weit oben stehen würden, wird hier der aussagekräftigere relative Wanderungssaldo dargestellt, der den Wanderungssaldo der unter 6-Jährigen auf die Einwohnerzahl der Altersgruppe des jeweiligen Stadtteils bezieht (Wanderungssaldo je 100 Einwohnerinnen und Einwohner im Alter von 0 bis unter 6 Jahren). Damit die Bezugsgrundlage weniger anfällig für jährliche Schwankungen ist, wird für das jeweilige Gebiet jeweils ein Durchschnittswert von zwei Jahren berechnet. Für die Berechnung des relativen Wanderungssaldos der unter 6-Jährigen beispielsweise für das Jahr 2014 wird als Bezugsgrundlage also die durchschnittliche Anzahl der unter 6-Jährigen für die Jahre 2013 und 2014 (Bestand 31.12.2013 plus Bestand 31.12.2014 geteilt durch zwei) herangezogen.</p>
                <br>
                <p><b>Zu- und Fortzüge Umland:</b></p>
                <p>Die im Datenblatt angezeigten Anteile der Zuzüge der Kinder unter 6 Jahren aus dem Hamburger Umland wurde aus der absoluten Anzahl der aus dem Umland zugezogenen unter 6-Jährigen anteilig am absoluten Wanderungssaldo (Zuzüge minus Fortzüge) berechnet. Wenn also beispielsweise der absolute Wanderungssaldo in einem Stadtteil -100 und die Anzahl der darunter ins Umland fortgezogenen unter 6-Jährigen 10 beträgt, so sind 10% der Wanderungsbewegungen der unter 6-Jährigen über die Stadtteilgrenzen auf Fortzüge ins Umland zurückzuführen.</p>
                <br>
                <p><b>Keine oder zu geringe Fallzahlen:</b></p>
                <p>Die Anteile der Kinder von Alleinerziehenden der jeweiligen Altersgruppen werden nur ausgewiesen, sofern in einem Gebiet mindestens 30 Kinder unter 6 Jahren bei Alleinerziehenden wohnen. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</p>
            <% } %>
        <% } else if (themeCategory === "schule") { %>
            <% if (themeType === "1-4") { %>
                <br>
                <p><b>Schülerinnen und Schüler der Jahrgänge 1 bis 4:</b></p>
                <br>
                <p>Für diese Kennzahl wurden sowohl alle Schülerinnen und Schüler der Hamburger Grundschulen als auch die Schülerinnen und Schüler der Primarstufen* der Hamburger Sonderschulen erfasst. Bezugsgröße ist der Wohnort der Schüler.</p>
                <br>
                <p><b>Gebietsveränderungen 2011:</b></p>
                <p>Am 1.1.2011 gab es in Hamburg eine Veränderung der Gebietszuschnitte bei den statistischen Gebieten und den Stadtteilen. Für die <b>Darstellung der Zeitreihe</b> im Datenblatt auf Ebene der statistischen Gebiete wurden die Daten aus den alten Gebietseinheiten den entsprechenden neuen Gebietseinheiten ab 2011 zugewiesen. Auf Ebene der Stadtteile wurden die Zahlen der 2011 zu Hamm zusammengelegten Stadtteile Hamm-Süd, Hamm-Mitte und Hamm-Nord auch in der Zeitreihe zu dem heutigen Gebiet von Hamm zusammengefasst. Die Neugründung von Neuallermöhe 2011 aus den Stadtteilen Allermöhe und Bergedorf führt in der Darstellung von Zeitreihen auf Stadtteilebene zu größeren Sprüngen in den betroffenen Gebieten.</p>
                <br>
                <p><b>Keine oder zu geringe Fallzahlen:</b></p>
                <p>Die Anzahl der Schülerinnen und Schüler in der Primarstufe wird nur in Gebieten ausgewiesen, in denen mindestens 3 Kinder dieser Altersgruppe leben. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</p>
                <br>
                <p><b>* Primarstufe: </b>Die Jahrgangsstufen 1 bis 4.</p>
            <% } else if (themeType === "5") { %>
                <br>
                <p><b>Schülerinnen und Schüler ab Jahrgang 5</b></p>
                <br>
                <p>Die Kennzahl berücksichtigt alle Schülerinnen und Schüler der weiterführenden Schulen in Hamburg. Dies umfasst die Schulformen Stadtteilschule, Gymnasium, Sonderschule und die verbliebenen 6-jährigen Grundschulen.</p>
                <br>
                <p><b>Keine oder zu geringe Fallzahlen:</b></p>
                <p>Die Anzahl der Schülerinnen und Schüler in der Sekundarstufe I* wird nur in Gebieten ausgewiesen, in denen mindestens 3 Kinder dieser Altersgruppe leben. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</p>
                <br>
                <p><b>Gebietsveränderungen 2011:</b></p>
                <p>Am 1.1.2011 gab es in Hamburg eine Veränderung der Gebietszuschnitte bei den statistischen Gebieten und den Stadtteilen. Für die <b>Darstellung der Zeitreihe</b> im Datenblatt auf Ebene der statistischen Gebiete wurden die Daten aus den alten Gebietseinheiten den entsprechenden neuen Gebietseinheiten ab 2011 zugewiesen. Auf Ebene der Stadtteile wurden die Zahlen der 2011 zu Hamm zusammengelegten Stadtteile Hamm-Süd, Hamm-Mitte und Hamm-Nord auch in der Zeitreihe zu dem heutigen Gebiet von Hamm zusammengefasst. Die Neugründung von Neuallermöhe 2011 aus den Stadtteilen Allermöhe und Bergedorf führt in der Darstellung von Zeitreihen auf Stadtteilebene zu größeren Sprüngen in den betroffenen Gebieten.</p>
                <br>
                <p><b>* Sekundarstufe: </b>Die Jahrgangsstufen 5 bis 10 bilden die Sekundarstufe I, die Jahrgangsstufen 11 bis 13 die Sekundarstufe II.</p>
            <% } else if (themeType === "Gymnasium") { %>
                <br>
                <p><b>Anteil der Schülerinnen und Schüler an Gymnasien</b></p>
                <br>
                <p>Für die Berechnung des Anteils der Schülerinnen und Schüler an Gymnasien wurden nur die Schülerinnen und Schüler der Sekundarstufe I* berücksichtigt. Die Bezugsgröße für die Anteilsberechnung sind alle Schülerinnen und Schüler der Sekundarstufe I</p>
                <br>
                <p><b>Keine oder zu geringe Fallzahlen:</b></p>
                <p>Der Anteil der Schülerinnen und Schüler an Gymnasien wird nur in Gebieten ausgewiesen, in denen mindestens 30 Schülerinnen und Schüler der Sekundarstufe I wohnen. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</p>
                <br>
                <p><b>Gebietsveränderungen 2011:</b></p>
                <p>Am 1.1.2011 gab es in Hamburg eine Veränderung der Gebietszuschnitte bei den statistischen Gebieten und den Stadtteilen. Für die <b>Darstellung der Zeitreihe</b> im Datenblatt auf Ebene der statistischen Gebiete wurden die Daten aus den alten Gebietseinheiten den entsprechenden neuen Gebietseinheiten ab 2011 zugewiesen. Auf Ebene der Stadtteile wurden die Zahlen der 2011 zu Hamm zusammengelegten Stadtteile Hamm-Süd, Hamm-Mitte und Hamm-Nord auch in der Zeitreihe zu dem heutigen Gebiet von Hamm zusammengefasst. Die Neugründung von Neuallermöhe 2011 aus den Stadtteilen Allermöhe und Bergedorf führt in der Darstellung von Zeitreihen auf Stadtteilebene zu größeren Sprüngen in den betroffenen Gebieten.</p>
                <br>
                <p><b>* Sekundarstufe: </b>Die Jahrgangsstufen 5 bis 10 bilden die Sekundarstufe I, die Jahrgangsstufen 11 bis 13 die Sekundarstufe II.</p>
            <% } else if (themeType === "Stadtteilschulen") { %>
                <br>
                <p><b>Anteil der Schülerinnen und Schüler an Stadtteilschulen</b></p>
                <br>
                <p>Für die Berechnung des Anteils der Schülerinnen und Schüler an Stadtteilschulen wurden nur die Schülerinnen und Schüler der Sekundarstufe I* berücksichtigt. Die Bezugsgröße für die Anteilsberechnung sind alle Schülerinnen und Schüler der Sekundarstufe I.</p>
                <br>
                <p><b>Keine oder zu geringe Fallzahlen:</b></p>
                <p>Der Anteil der Schülerinnen und Schüler an Stadtteilschulen wird nur in Gebieten ausgewiesen, in denen mindestens 30 Schülerinnen und Schüler der Sekundarstufe I wohnen. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</p>
                <br>
                <p><b>Gebietsveränderungen 2011:</b></p>
                <p>Am 1.1.2011 gab es in Hamburg eine Veränderung der Gebietszuschnitte bei den statistischen Gebieten und den Stadtteilen. Für die <b>Darstellung der Zeitreihe</b> im Datenblatt auf Ebene der statistischen Gebiete wurden die Daten aus den alten Gebietseinheiten den entsprechenden neuen Gebietseinheiten ab 2011 zugewiesen. Auf Ebene der Stadtteile wurden die Zahlen der 2011 zu Hamm zusammengelegten Stadtteile Hamm-Süd, Hamm-Mitte und Hamm-Nord auch in der Zeitreihe zu dem heutigen Gebiet von Hamm zusammengefasst. Die Neugründung von Neuallermöhe 2011 aus den Stadtteilen Allermöhe und Bergedorf führt in der Darstellung von Zeitreihen auf Stadtteilebene zu größeren Sprüngen in den betroffenen Gebieten.</p>
                <br>
                <p><b>* Sekundarstufe: </b>Die Jahrgangsstufen 5 bis 10 bilden die Sekundarstufe I, die Jahrgangsstufen 11 bis 13 die Sekundarstufe II.</p>
            <% } else if (themeType === "Sonderschulen") { %>
                <br>
                <p><b>Anteil der Schülerinnen und Schüler an Sonderschulen</b></p>
                <br>
                <p>Für die Berechnung des Anteils der Schülerinnen und Schüler an Sonderschulen* wurden nur die Schülerinnen und Schüler der Sekundarstufe I** berücksichtigt. Die Bezugsgröße für die Anteilsberechnung sind alle Schülerinnen und Schüler der Sekundarstufe I.</p>
                <br>
                <p><b>Keine oder zu geringe Fallzahlen:</b></p>
                <p>Der Anteil der Schülerinnen und Schüler an Sonderschulen wird nur in Gebieten ausgewiesen, in denen mindestens 30 Schülerinnen und Schüler der Sekundarstufe I wohnen. In Gebieten, in denen es nach diesem Kriterium zu geringe oder gar keine Fallzahlen gibt, werden keine Werte angezeigt und die Flächen grau eingefärbt.</p>
                <br>
                <p><b>Gebietsveränderungen 2011:</b></p>
                <p>Am 1.1.2011 gab es in Hamburg eine Veränderung der Gebietszuschnitte bei den statistischen Gebieten und den Stadtteilen. Für die <b>Darstellung der Zeitreihe</b> im Datenblatt auf Ebene der statistischen Gebiete wurden die Daten aus den alten Gebietseinheiten den entsprechenden neuen Gebietseinheiten ab 2011 zugewiesen. Auf Ebene der Stadtteile wurden die Zahlen der 2011 zu Hamm zusammengelegten Stadtteile Hamm-Süd, Hamm-Mitte und Hamm-Nord auch in der Zeitreihe zu dem heutigen Gebiet von Hamm zusammengefasst. Die Neugründung von Neuallermöhe 2011 aus den Stadtteilen Allermöhe und Bergedorf führt in der Darstellung von Zeitreihen auf Stadtteilebene zu größeren Sprüngen in den betroffenen Gebieten.</p>
                <br>
                <p><b>* Sonderschulen: </b>Seit der Umsetzung inklusiver Bildung an Hamburgs Schulen umfassen die Sonderschulen nur noch die speziellen Sonderschulen. Diese sind entsprechend dem Förderbedarf ihrer Schülerinnen und Schüler in ihrer Arbeit auf die Förderschwerpunkte Hören und Kommunikation, Sehen, geistige Entwicklung und körperliche und motorische Entwicklung ausgerichtet. Die Angebote der früheren Förder- und Sprachheilschulen, die vor 2012 auch zu den Sonderschulen zählten, wurden gemeinsam mit den Angeboten der Regionalen Beratungs- und Unterstützungsstellen (REBUS) 2012 in den Regionalen Bildungs- und Beratungszentren (ReBBZ) zu einem Angebot zusammengeführt. Im Rahmen der seit dem Schuljahr 2011/12 umgesetzten Inklusion an den Hamburger Schulen können Schülerinnen und Schülern mit sonderpädagogischem Förderbedarf sowohl an speziellen Sonderschulen und regionalen Bildungs- und Beratungszentren als auch integrativ an allgemeinen Schulen beschult werden.</p>
                <br>
                <p><b>* Sekundarstufe: </b>Die Jahrgangsstufen 5 bis 10 bilden die Sekundarstufe I, die Jahrgangsstufen 11 bis 13 die Sekundarstufe II.</p>
            <% } %>
        <% } %>
    </div>
    <div class="gfi-daten tab-pane fade in active" id="daten">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th colspan="2"><%= themeTitle %></th>
                </tr>
                <tr>
                    <th colspan="2"><%= description %></th>
                </tr>
            </thead>

            <tbody>
            <%  Object.entries(tableContent).forEach(function(content) {
                const value = content[1],
                    key = content[0];
            %>
                <tr>
                    <td>
                        <%= key %>
                    </td>
                    <td>
                        <%= value %>
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
        <br/>
        <% if (dataset && dataset.length) { %>
        <div class="panel grahpHeader" id="chart">
            <b>Kennzahl im Zeitverlauf</b>
        </div>
        <div id="d3-div" class="graph_<%= themeId %> graph">
        </div>
        <% } %>
        <p>
            <i>*g.F: geringe Fallzahlen. Die Werte konnten aus datenschutzrechtlichen Gründen nicht ausgewiesen werden oder das Gebiet ist unbewohnt.</i>
        </p>
        <p>
            Sie können die Position des Fensters durch Drag&Drop ändern
        </p>
    </div>
</div>