<button type="button" class="btn btn-primary" <% if(disabled) { print('disabled');} %>>
    <span id="glyphicon" class="glyphicon glyphicon-export" style="margin-right: 5px;"></span><%= tag %>
</button>
