<!DOCTYPE html>
<div class="header">
    <p class="pull-right">
        <span class="glyphicon glyphicon-remove" title="Schließen"></span>
    </p>
    <p>
        <span>Informationen und Legende</span>
    </p>
</div>

<div class="content">
    <h4 class="subtitle" title="<%= title %>"><%= title %></h4>
    <div><%= abstractText %></div>
    <% if (metaURL !== null) { %>
    <% metaURL.forEach(function (url) { %>
        <br>
        <% if (abstractText !== noMetaDataMessage) { %>
            <p class="pull-right"><a href="<%= url %>" target="_blank">weitere Metadaten</a></p>
        <% } %>
    <% }); %>
    <% } %>
    <% if (typeof datePublication !== "undefined" && datePublication !== null) { %>
        <p>Publikation / Erstellung: <%= datePublication %></p>
    <% } %>
    <% if (typeof dateRevision !== "undefined" && dateRevision !== null) { %>
        <p>Letzte Änderung: <%= dateRevision %></p>
    <% } %>
    <% if (typeof periodicity !== "undefined" && periodicity !== null) { %>
        <p>Periodizität: <%= periodicity %></p>
    <% } %>
        <hr>
        <ul class="nav nav-tabs">
            <li value="legende" class="tab-toggle active"><a data-toggle="tab" href="#legende">Legende</a></li>
            <% if (downloadLinks !== null) { %>
            <li value="LayerInfoDataDownload" class="tab-toggle"><a data-toggle="tab" href="#LayerInfoDataDownload">Datensatz herunterladen</a></li>
            <% } %>
            <% if (url !== null && urlIsVisible !== false) { %>
            <li value="url" class="tab-toggle"><a data-toggle="tab" href="#url"><%= typ %>-Adresse</a></li>
            <% } %>
        </ul>
        <br>
        <div class="tab-content">
            <div id="legende" class="tab-pane fade in active">
                <p>
                    <% if (Array.isArray(legend.legend) && (legend.legend.length === 0 || legend.legend[0].img === "")) {
                        print ("<p>Legende wird erst beim aktivieren des Layers geladen</p>");
                    }
                    else if (legend.legend === null) {
                        print ("<p>Keine Legende vorhanden</p>");
                    }
                    else {
                        legend.legend.forEach(function (legend) {
                            print (legend.html);
                        });
                    } %>
                </p>
            </div>
            <div id="LayerInfoDataDownload" class="tab-pane fade">
                <ul class="list-unstyled">
                    <% if (downloadLinks !== null) { %>
                        <% downloadLinks.forEach(function (downloadLink) { %>
                            <li><a href="<%= downloadLink.link %>" target="_blank"><%= downloadLink.linkName %> </a><li>
                        <% }); %>
                    <% } %>
                </ul>
            </div>
            <div id="url" class="tab-pane fade">
                <ul class="list-unstyled">
                <li><a href="<%= url %>?SERVICE=<%= typ %>&REQUEST=GetCapabilities" target="_blank"><%= url %> </a><li>
                </ul>
            </div>
        </div>
</div>
