<!DOCTYPE html>
<div class="modal-dialog">
    <div class="modal-content layerinformation-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Informationen und Legende</h4>
        </div>
        <div class="modal-body">
            <h4 class="subtitle"><%= title %></h4>
            <p><%= abstractText %></p>

            <% if (metaURL !== null) { %>
              <% metaURL.forEach(function (url) { %>
                  <br>
                  <p class="pull-right"><a href="<%= url %>" target="_blank">weitere Metadaten</a></p>
              <% }); %>
            <% } %>

            <% if (typeof datePublication !== "undefined" && datePublication !== null) { %>
                <p>Publikation / Erstellung: <%= datePublication %></p>
            <% } %>
            <% if (typeof dateRevision !== "undefined" && dateRevision !== null) { %>
                <p>Letzte Änderung: <%= dateRevision %></p>
            <% } %>
            <% if (typeof periodicity !== "undefined" && periodicity !== null) { %>
                <p>Periodizität: <%= periodicity %></p>
            <% } %>
                <hr>
                <ul class="nav nav-tabs">
                    <li class="active"><a data-toggle="tab" href="#legende">Legende</a></li>
                    <% if (downloadLinks !== null) { %>
                    <li><a data-toggle="tab" href="#LayerInfoDataDownload">Datensatz herunterladen</a></li>
                    <% } %>
                    <% if (url !== null) { %>
                    <li><a data-toggle="tab" href="#url"><%= typ %>-Adresse</a></li>
                    <% } %>
                </ul>
                <br>
                <div class="tab-content">
                    <div id="legende" class="tab-pane fade in active">
                        <p>
                            <% if (legend.legend === null) {
                                print ("<p>Keine Legende vorhanden</p>");
                            }
                            else if (legend.legend.length === 0 || legend.legend[0].img === "") {
                                print ("<p>Legende wird erst beim aktivieren des Layers geladen</p>");
                            }
                            else {
                                legend.legend.forEach(function (legend) {
                                    print (legend.html);
                                });
                            } %>
                        </p>
                    </div>
                    <div id="LayerInfoDataDownload" class="tab-pane fade">
                        <ul class="list-unstyled">
                            <% if (downloadLinks !== null) { %>
                                <% downloadLinks.forEach(function (downloadLink) { %>
                                    <li><a href="<%= downloadLink.link %>" target="_blank"><%= downloadLink.linkName %> </a><li>
                                <% }); %>
                            <% } %>
                        </ul>
                    </div>
                    <div id="url" class="tab-pane fade">
                        <ul class="list-unstyled">
                            <li><a href="<%= url %>?SERVICE=<%= typ %>&REQUEST=GetCapabilities" target="_blank"><%= url %> </a><li>
                        </ul>
                  </div>
                </div>
        </div>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
